<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs test sqlite3</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="input1">Input 1:</label>
        <input type="text" id="input1" name="input1" placeholder="type de livre"><br><br>
        
        <label for="input2">Input 2:</label>
        <input type="text" id="input2" name="input2"  placeholder="numero verset"  required><br><br>
        
        <label for="input3">Input 3:</label>
        <input type="text" id="input3" name="input3" placeholder="sujet verset"  required><br><br>
        
        <label for="input4">Input 4:</label>
        <input type="text" id="input4" name="input4" placeholder="auteur"  required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>